/*
	_content.css
*/

/*
			---CONTENT---
*/



.cell-height{
	height: 290px;
}
/* --bnr-slider-- */
$slider-height: 825px;
.bnr-slider{
	
	background-image: url('img/bg/bg-header.jpg');
	background-position: right center;
	figure{
		height: $slider-height;
		.img-content{
			width: calc(60vw + 90px);
		}
		.img{
			position: absolute;
			height: 100%;
			width: 100%;
	    background-size: cover;
	    filter: drop-shadow(0 0 6px black);
	    background-position: center;
	    width: calc(50vw + #{(1140/4)+px} );
		}
	}
	.desc-content{
		padding: 15px 20px;
		background-color: $color-1;
		color: white;
		height: 290px;
		.btn-def{
			position: absolute;
    	bottom: 0;
		}
	}
	.carousel-content{
		margin-top: -46px;
	}
  @media( max-width: 991px ) {
	
		figure{
			height: $slider-height/2;
			.desc-content{
				display: none;
			}
			.carousel-btn-content{
				display: none;
				&:before{
					display: none;
				}
			}
			.img{
				width: 100%;
			}
		}
  }
  .slider-video{
  	padding-left: 15px;
  	padding-right: 15px;
  }
  .slider-video-content{
  	position: absolute;
  	bottom: 0;
  	z-index: 1;
  	width: inherit;
  	padding: 0 15px;
    margin-left: -15px;
  	iframe{
  		height: 290px;
  		//box-shadow: 0px 0px 20px -5px black;
  	}
  	@media( max-width:991px ) {
  		width: 100%;
  	}
  }

}
.flickity-main-slider{
	figure{
		.img{
			opacity: 0;
			transform: scale(1.2);
			filter: blur(5px);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1.3s steps(13);
		}
		.desc-content{
			position: relative;
			box-shadow: 0px 5px 20px -10px black;
			p, h1, .btn-def{
				opacity: 0;
				transition: all 1.2s ease;
				transform: perspective(1800px) rotateX(-80deg);	
				transform-origin: 100% 0;
			}
		}
		&.is-selected{
			.img{
				opacity: 1;
				transform: inherit;
				filter: blur(0);
			}
			.desc-content{
				background-color: rgba($color-1, 0.9);
				p, h1, .btn-def{
					opacity: 1;
					transform: inherit;
				}
			}
		}
	}
	.carousel-btn-content{
		box-shadow: 0px 0px 20px -10px black;
		&:before{
			@extend .claf;
			background-image: url('../img/bg/bg-header.jpg');
			background-size: cover;
			background-position: center;
			height: $slider-height; 
			top: (-+($slider-height/2)+(46/2) ) + (290/2);
			width: 40vw;
			transition: all 0.3s ease-in-out;
		}
		&:hover{
			&:before{
				//filter: grayscale(1);
			}
		}
	}
}



div.carousel-btn-content{
	background-color: white;
	position: relative;
	height: 290px;
	.prev, .next{
		text-align: center;
		display: block;
		position: relative;
		width: 100%;
	}
	.prev{
		margin-bottom: 30px;
		img{
			margin-left: 10px;
		}
	}
	.next{
		margin-top: 30px;
		img{
			margin-right: -5px;
		}
	}

	img{
		margin-top:-4px;
	}
	.carousel-prev-next{
		background-color: white;
	}
}
.carousel-counter-content{
	width: 100%;
	text-align: center;
	font-size: 36px;
	display: block;
}
.counter-style-1{
	font-size: 0.6em;
	vertical-align: top;
}


/* --short-productions-- */
.short-productions{
	.entry-header{
		height: 280px;
	}
}
.before-arrow{
	&:before{
		@extend .claf;
		width:15px;
		z-index: 1;
		height:15px;
		transform: rotate(45deg);
		background-color: white;
		top: 50%;
		margin-left: -7px;
		margin-top: -7.5px;
	}
}
.short-productions-items{
	position: relative;
	figure{
		position: absolute;
		.img{
			height: 290px;
			transition: all 1.2s ease;
		}
		.img-content{
			overflow: hidden;
		}
		.desc-content{
			padding: 15px 30px;
			height: 290px;
			position: relative;
			&:before{
				transition: all 1s ease;
			}
			p{
				height: 175px;
    		overflow: hidden;
			}
		}
		&:hover{	
			.img{
				transform: scale(1.2);
			}
			.desc-content{
				&:before{
					transform: scale(1.5) rotate(45deg);
				}
			}
		}
	}

	figure:nth-child(3n+1){
		@extend .col-md-8; padding: 0;
		&, .img-content, .desc-content{
			float: left;
		}
		.img-content{
			width: 50%;
		}
		.desc-content{
			@extend .before-arrow;
			width: 50%;
		}
	}
	figure:nth-child(3n+2){
		@extend .col-md-4; padding: 0;
		float: right;
		.img-content, .desc-content{
			float: left;
		}
		.img-content{
			width: 100%;
		}
		.desc-content{
			width: 100%;
			@extend .before-arrow;
			&:before{
				left: 50%;	
				top: 0;
			}
		}
	}
	figure:nth-child(3n+3){
		@extend .col-md-8; padding: 0;
		&, .desc-content{
			float: left;
		}
		.img-content{
			float: right;
		}
		.img-content{
			width: 50%;
		}
		.desc-content{
			width: 50%;
			@extend .before-arrow;
			&:before{
				left: inherit;	
				right: 0;
				margin-left: 0;
				margin-right: -7.5px;
				margin-top: 0;
			}
		}
	}
	@media ( max-width:991px ) {
		figure{
			.desc-content, .img-content{
				width: 100% !important;
			}
			.desc-content{
				&:before{
					left: 50% !important;	
					top: 0 !important;
				}
			}
		}
	}
}
.short-productions-carousel{
	.flickity-slider{
		figure{
			.img-content{
				transform: scale(0);
				//transform-origin: 0 100%;
				transition: all 0.8s ease;
				opacity: 0;
			}
			.desc-content{
				opacity: 0;
				transform: scale(0);
				transition: all 1s ease;
			}
			&:nth-child(1){
				.img-content{
					transition-delay: 0.2s;
				}
				.desc-content{
					transition-delay: 0.3s;
				}
			}
			&:nth-child(2){
				.img-content{
					transition-delay: 0.4s;
				}
				.desc-content{
					transition-delay: 0.2s;
				}
			}
			&:nth-child(3){
				.img-content{
					transition-delay: 0.3s;
				}
				.desc-content{

					transition-delay: 0.4s;
				}
			}

		}
		.is-selected{
			.img-content, div.desc-content{
				opacity: 1;
				transform: inherit;
			}

		}
	}
}








//short-news
.short-news{
	.entry-header{
		background-color: $color-1;
		position: relative;
		.pie-xs{
			@extend .cell-height;
		}
	}
	.button-carousel-nav{
		position: absolute;
		bottom: 15px;
		//left: 15px;
		ul{
			margin-left: -5px;
			margin-right: -5px;
			text-align: center;
		}
		li{
			display: inline-block;
			background-color: white;
			transition: all 0.3s ease-in-out;
			width: 30px;
			opacity: 0.5;
			height: 5px;
			margin-left: 5px;
			margin-right: 5px;
			&.is-selected{
				opacity: 1;
			}
		}
	}
	@media (max-width:991px) {
		.button-carousel-nav{
			width: 100%;
			position: relative;
			li{
				margin-left: 10px;
				margin-right: 10px;
				height: 25px;
			}
		}
	}
}
.short-news-carousel{
	figure{
		.img-content{
			background-position: center;
			.img{
				@extend .fuller;	
				background-position: center;
				background-size: cover;
			}
		}
		.desc-content{
			@extend .cell-height;
			padding: 10px 10%;
			position: relative;
			h1, h2, h3, p{
				text-shadow: 0 0 4px rgba(black, 0.15);
			}
		}
		.btn-def{
			a{
				padding: 15px 25px;
			}

		}
	}
	@media (max-width:991px) {
		figure{
			.desc-content{
				height: auto;
			}
		}
	}
}




//short-advantages
.short-advantages-items{
	figure{
		@extend .h1-before-none;
		h1{
			color: gray;
			line-height: 100%;
			font-size: 1.6em;
			margin-top: 0;
			font-weight: 700;
		}
		.img-content{
			padding-top: 3px;
			vertical-align: top;
		}
	}
}






//const-animation
@keyframes constBgScroll {
	to{
		background-position-x: 6000px;
	}
}
.const-animation{
	canvas{
  	//width: 100%;
  	//height: 440px;
  }
}
.const-animation-content{
	height: 440px;
  position: relative;
	background-color: white;
	background-image: url('../img/const-animation/bg.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  //animation: constBgScroll 360s linear infinite;
  .container{
  	position: relative;
  	height: 100%;
  }

}
.const-bg-el{
	position: absolute;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	bottom: -2px;
}
.building-1{
	left: 0;
	height: 392px;
	width: 465px;
	background-image: url('../img/const-animation/building-1.png');
	z-index:1;

}
.factory-1{
	width: 246px;
	left: 465px;
	height: 142px;
	background-image: url('../img/const-animation/factory-1.png');
	z-index:0;
}
.factory-2{
	width: 160px;
	left: 711px;
	height: 120px;
	background-image: url('../img/const-animation/factory-2.png');
	z-index:0;
}
.building-2{
	width: 286px;
	right: 0;
	height: 168px;
	background-image: url('../img/const-animation/building-2.png');
	z-index:1;
}
.building-3{
	right: -250px;
	height: 392px;
	width: 465px;
	background-image: url('../img/const-animation/building-1.png');
	z-index: 0;
}
.building-4{
	width: 286px;
	left: 0;
	height: 168px;
	background-image: url('../img/const-animation/building-2.png');
	z-index: 0;
}
.truck-1{
	width: 134px;
	height: 69px;
	left: 40px;
	z-index: 3;
	background-image: url('../img/const-animation/truck-1.png');
}
.truck-2{
	width: 94px;
	height: 48px;
	right: 40px;
	z-index: 0;
	background-image: url('../img/const-animation/truck-2.png');
}