/*
	_content.css
*/

/*
			---CONTENT---
*/



.cell-height{
	height: 290px;
}
/* --bnr-slider-- */
$slider-height: 825px;
.bnr-slider{
	
	background-image: url('img/bg/bg-header.jpg');
	background-position: right center;
	figure{
		height: $slider-height;
		.img-content{
			width: calc(60vw + 90px);
		}
		.img{
			position: absolute;
			height: 100%;
			width: 100%;
	    background-size: cover;
	    filter: drop-shadow(0 0 6px black);
	    background-position: center;
	    width: calc(50vw + #{(1140/4)+px} );
		}
	}
	.desc-content{
		padding: 15px 20px;
		background-color: $color-1;
		color: white;
		height: 290px;
		.btn-def{
			position: absolute;
    	bottom: 0;
		}
	}
	.carousel-content{
		margin-top: -46px;
	}
  @media( max-width: 991px ) {
	
		figure{
			height: $slider-height/2;
			.desc-content{
				display: none;
			}
			.carousel-btn-content{
				display: none;
				&:before{
					display: none;
				}
			}
			.img{
				width: 100%;
			}
		}
  }
  .slider-video{
  	padding-left: 15px;
  	padding-right: 15px;
  }
  .slider-video-content{
  	position: absolute;
  	bottom: 0;
  	z-index: 1;
  	width: inherit;
  	padding: 0 15px;
    margin-left: -15px;
  	iframe{
  		height: 290px;
  		//box-shadow: 0px 0px 20px -5px black;
  	}
  }
}
.flickity-main-slider{
	figure{
		.img{
			opacity: 0;
			transform: scale(1.2);
			filter: blur(5px);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1.3s steps(13);
		}
		.desc-content{
			position: relative;
			box-shadow: 0px 5px 20px -10px black;
			p, h1, .btn-def{
				opacity: 0;
				transition: all 1.2s ease;
				transform: perspective(1800px) rotateX(-80deg);	
				transform-origin: 100% 0;
			}
		}
		&.is-selected{
			.img{
				opacity: 1;
				transform: inherit;
				filter: blur(0);
			}
			.desc-content{
				background-color: rgba($color-1, 0.9);
				p, h1, .btn-def{
					opacity: 1;
					transform: inherit;
				}
			}
		}
	}
}



div.carousel-btn-content{
	background-color: white;
	position: relative;
	height: 290px;
	box-shadow: 0px 0px 20px -10px black;
	.prev, .next{
		text-align: center;
		display: block;
		position: relative;
		width: 100%;
	}
	.prev{
		margin-bottom: 30px;
		img{
			margin-left: 10px;
		}
	}
	.next{
		margin-top: 30px;
		img{
			margin-right: -5px;
		}
	}

	img{
		margin-top:-4px;
	}
	&:before{
		@extend .claf;
		background-image: url('../img/bg/bg-header.jpg');
		background-size: cover;
		background-position: center;
		height: $slider-height; 
		top: (-+($slider-height/2)+(46/2) ) + (290/2);
		width: 40vw;
		transition: all 0.3s ease-in-out;
	}
	&:hover{
		&:before{
			//filter: grayscale(1);
		}
	}
	.carousel-prev-next{
		background-color: white;
	}
}
.carousel-counter{
	width: 100%;
	text-align: center;
	font-size: 36px;
	display: block;
}
.counter-style-1{
	font-size: 0.6em;
	vertical-align: top;
}


/* --short-productions-- */
.before-arrow{
	&:before{
		@extend .claf;
		width:15px;
		height:15px;
		transform: rotate(45deg);
		background-color: white;
		top: 50%;
		margin-left: -7px;
		margin-top: -7.5px;
	}
}
.short-productions-items{
	position: relative;
	figure{
		position: absolute;
		.img{
			height: 290px;
		}
		.desc-content{
			padding: 15px 30px;
			height: 290px;
			position: relative;
			p{
				height: 175px;
    		overflow: hidden;
			}
		}
	}
	figure:nth-child(1){
		@extend .col-md-8; padding: 0;
		@extend .before-arrow;
		&, .img-content, .desc-content{
			float: left;
		}
		.img-content{
			width: 50%;
		}
		.desc-content{
			width: 50%;
		}
	}
	figure:nth-child(2){
		@extend .col-md-4; padding: 0;
		float: right;
		.img-content, .desc-content{
			float: left;
		}
		.img-content{
			width: 100%;
		}
		.desc-content{
			width: 100%;
		}
	}
	figure:nth-child(3){
		@extend .col-md-8; padding: 0;
		&, .desc-content{
			float: left;
		}
		.img-content{
			float: right;
		}
		.img-content{
			width: 50%;
		}
		.desc-content{
			width: 50%;
		}
	}

}








